

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.makeStyles-toolbarLink-28 {
  padding: 8px;
  flex-shrink: 0;
  margin-left: 20px;
  cursor: pointer;
}

.link:hover {
  box-shadow: 0 0 10px #00000091;
  text-decoration: none;
  border-radius: 8px;
  color: rgb(0, 100, 0);

}